<!DOCTYPE html>
<html>
<head>
    <!-- Import materialize.css -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Import materialize.js -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="utf-8" />
    <title>このポケモン何？ | 君の知りたいポケモンを教えるよ</title>
</head>
<body>
    <div class="row">
        <!-- header -->
        <header class="col s12 blue lighten-1">
            <div class="col offset-s1">
                <a href="/"><p class="white-text">このポケモン何？ ～君の知りたいポケモンを教えるよ～</p></a>
            </div>
        </header>
        
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>